---
import { themeConfig } from '@/config'


const { author } = themeConfig.site
const { links, startYear } = themeConfig.footer

const currentYear = new Date().getFullYear()
const year = Number(startYear) === currentYear
  ? startYear
  : `${startYear}-${currentYear}`


---

<footer
  class="text-3 leading-4.75 font-navbar lg:text-3.5"
  lg="uno-desktop-column bottom-20"
>
  <div class="flex items-center">
    {links.map((link, index) => (
      <>
        <a class="transition-colors hover:c-primary" href={link.url}>
          {link.icon && <span class={`inline-block mr-1 mt-1 ${link.icon}`}></span>}
        </a>
        {index < links.length - 1 && <div class="mx-1"> / </div>}
      </>
    ))}
  </div>

  <p>
    © {year} {author}
  </p>
</footer>
